<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>GrandPy le Papy Bot!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'><link rel="stylesheet" href="./css/style.css">

  </head>
  <body>
    <h3>
      <strong>
        <p>
          Causons un peut tu veux?
        </p>
      </strong>
    </h3>
    <div class="superPapy">
      <img src="../templates/images/super papy.png" alt="Super Papy simpson">
    </div>

    <section class="avenue-messenger">
      <div class="menu">
      <div class="items"><span>
        <a href="#" title="Minimize">&mdash;</a><br>
    <!--
        <a href="">enter email</a><br>
        <a href="">email transcript</a><br>-->
        <a href="#" title="End Chat">&#10005;</a>

        </span></div>
        <div class="button">...</div>
      </div>
      <div class="agent-face">
        <div class="half">
        <img class="agent circle" src="../templates/images/papy.gif" alt="Papy Simpson"></div>
      </div>
    <div class="chat">
      <div class="chat-title">
        <h1>Grand PY</h1>
        <h2>Le Papy Bot</h2>
      <!--  <figure class="avatar">
          <img src="http://askavenue.com/img/17.jpg" /></figure>-->
      </div>
      <div class="messages">
        <div class="messages-content"></div>
      </div>
      <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
      </div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script><script  src="./js/script.js"></script>

  </body>
  <footer class="footer">
    <p>Contacts :<a href='mailto:nuno.ricardo.mars@gmail.com'><img class="mail"src="../templates/images/hiclipart.com.png" alt="email"/></a>
    <a href='https://github.com/NunoMars/GrandPy'><img class="git" src="../templates/images/integrations-github-logo.png" alt="github"></a>
    <a href='https://www.linkedin.com/in/nuno-ricardo-da-silva-marcelino-3ba508177/'><img class="link" src="../templates/images/linkedIn_PNG10.png" alt="linkedin"></a>
     <p>Powered By : <img class='powered'src="../templates/images/Python_logo_and_wordmark.svg.png" alt="python"><img class = 'flask' src="../templates/images/flask.png" alt="flask"></p>
    <div class="copyright">© Copyright 2020 Nuno Marcelino </div></p>
  </footer>
</html>