*,
*::before,
*::after {
  box-sizing: border-box;
}
/*--------------------
Body
--------------------*/
body {
  position: fixed;
  height: 100%;
  background: url('../images/backGround.jpg');
  font-family: 'Avenir', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
}
/*--------------------
Head
--------------------*/
h3
{
  width: 100%;
  font-size: 40px;
  text-align: left;
  padding-left: 250px;
  color: white;
  background-color: rgb(11, 125, 240);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 10px 40px rgba(7, 7, 7, 0.4);
}
#Map
{
  height: 300px;
  width: 700px;
  border-radius: 20px 20px 20px 0;
}
/*--------------------
Footer
--------------------*/
.close:hover
{
  padding-right: 100px;
}
.footer
{
  position:fixed;
  padding-left: 150px;
  width: 100%;
  height:25%;
  font-size: 20px;
  text-align: left;
  color: white;
  background-color: rgb(11, 125, 240);
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.mail
{
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.git
{
  padding-top: 6px;
  width: 13%;
  height: 40px;
  object-fit: contain;
}
.link
{
  width: 12%;
  height: 30px;
  object-fit: contain;
}
.powered
{
  padding-top: 10px;
  padding-right: 50px;
  width: 12%;
  height: 50px;
  object-fit: contain;
}
.flask
{
  padding-top: 20px;
  width: 100px;
  height: 40%;
  object-fit: contain;
}
.superPapy
{
  width: 500px;
  position: fixed;
  top: 5%;
  right: 47%;
  bottom: auto;
  margin: 30px;
  z-index: 1;
}
.copyright
{
  font-size: 20px;
  color: white;
  text-align: left;
  padding-bottom: 10%;
}
.cv
{
  font-size: 20px;
  font-style: initial;
  color: white;
  letter-spacing: 0.52em;
  padding-right: 40px;
  text-decoration: none;
}
/*--------------------
Chat
--------------------*/
.chat {
  position: relative;
  width: 98%;
  height: calc(100% - 15px);
  max-height: 95%;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, .5);
  background: transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid #ccc;
  color: #777;
  padding-top: 50px;
  padding-bottom: 5px;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.chat-title h1,
.chat-title h2 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.chat-title h2 {
  font-size: 15px;
  letter-spacing: 1px;
}
.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
}
.chat-title .avatar img {
  width: 100%;
  height: auto;
}

/*--------------------
Messages
--------------------*/
.messages {
  flex: 1 1 auto;
  color: rgba(255, 255, 255, .5);
  color: #fff;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}
.messages .message {
  clear: both;
  float: left;
  padding: 10px 10px 7px;
  border-radius: 20px 20px 20px 0;
  background: #eee;
  margin: 8px;
  font-size: 16px;
  line-height: 1.4;
  margin-left: 50px;
  position: relative;
  border: 1px solid #ccc;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.messages .message .timestamp {
  position: absolute;
  bottom: -20px;
  font-size: 15px;
  color: #555;
  right: 30px;
}
.messages .message .checkmark-sent-delivered {
  position: absolute;
  bottom: -25px;
  right: 15px;
  font-size: 18px;
  color: #999;
}
.messages .message .checkmark-read {
  color: blue;
  position: absolute;
  bottom: -20px;
  right: 10px;
  font-size: 15px;
}

.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -18px;
  left: -50px;
  border-radius: 35px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.messages .message .avatar img {
  width: 100%;
  height: auto;
}
.messages .message.message-personal {
  color: rgb(5, 85, 131);
  float: right;
  text-align: right;
  background: rgb(157, 216, 250);
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 20px;
}

.messages .message:last-child {
  margin-bottom: 30px;
}
.messages .message.new {
    -webkit-box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.4);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
          animation: bounce 500ms linear both;
}
.messages .message.loading::before {
  position: relative;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #888;
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}
.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 50px;
  height: 30px;
  position: relative;
}
.messages .message.loading span::before {
  position: relative;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #888;
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
}
.messages .message.loading span::after {
  position: relative;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #888;
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 42px;
  width: 85%;
  background: #fff;
  margin: 20px auto;
  -webkit-box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.4);
  padding: 10px;
  position: relative;
  border-radius: 20px;
  height: 14px;
  border: 1px solid #ccc;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  font-size: 18px;
  height: 32px;
  margin: 0;
  padding-right: 20px;
  width: 88%;
  color: #444;
}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 10px;
  color: black;
  border: none;
  box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.4);
  background-color: #4A90E2;
  font-size: 20px;
  font-style: inherit;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none !important;
  transition: background .2s ease;
  cursor: pointer;
}
.message-box .message-submit:hover {
  background: #fff;
  color: #333;
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.avenue-messenger {
  opacity: 1;
  border-radius: 20px;
  height: calc(100% - 60px) !important;
  max-height: 900px !important;/*460*/
  min-height: 220px !important;
  width: 800px;/*320*/
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 2%;
  right: 7%;
  bottom: auto;
  margin: 30px;
  z-index: 10;
  box-shadow: 2px 10px 4px rgba(22, 20, 19, 0.4);

}

.avenue-messenger div.agent-face {
  position: absolute;
  left: 0;
  top: -50px;
  right: 0;
  margin: auto;
  width: 101px;
  height: 50px;
  background: transparent;
  z-index: 12;
}

.avenue-messenger div {
  font-size: 14px;
  color: #232323;
}

.close {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  opacity: 0.5;
}

.close:hover {
  opacity: 0.9;
}

.circle {
  display: block;
  width: 80px;
  height: 80px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.contact-icon .circle:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  transition: 0.2s all ease-out 0.2s;
  -webkit-transition: 0.2s all ease-out 0.2s;
  -moz-transition: 0.2s all ease-out 0.2s;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 5px;
  margin-top: -5px;
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 1px solid #4A90E2;
}

.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menu .items span {
  color: #111;
  z-index: 12;
  font-size: 14px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 40px;
  height: 86px;
  line-height: 40px;
  background: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 48px;
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
}

.menu .button {
  font-size: 30px;
  z-index: 12;
  text-align: right;
  color: #333;
  content: "...";
  display: block;
  width: 48px;
  line-height: 25px;
  height: 40px;
  border-top-right-radius: 20px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: pointer;
  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
}

.menu .button.active {
  background: #ccc;
}

.menu .items span.active {
  opacity: 1;
}

.menu .items a {
  color: #111;
  text-decoration: none;
}

.menu .items a:hover {
  color: #777;
}
@media only screen and(max-device-width: 320px) {
  #Map
  {
    height: 300px;
    width: 285px;
    border-radius: 20px 20px 20px 0;
  }
}
@media only screen and(max-device-width: 768px) {
  #Map
  {
    height: 500px;
    width: 740px;
    border-radius: 20px 20px 20px 0;
  }
}
@media only screen and (max-device-width: 768px), screen and (max-device-width: 320px), screen and (max-device-width: 800px) {
  .avenue-messenger {
    margin: 0px;
    z-index: 2147483001 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: none !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    border-radius: 0 !important;
    background: #fff;
  }
  .messages .message, .message-box .message-input {
    font-size: 12px;
  }

  body {
    background: none;
  }
  .footer {
    display: none;
  }

  .superPapy {
    display: none;
  }

  h3 {
    display: none;
  }
  .message-box .message-input {
    height: 18px;
  }

  .av{
    border-radius: 5px 5px 5px 0;
  }
  .avenue-messenger div.agent-face {
    top: -10px !important;
  }

  .chat {
    border-radius: 0 !important;
    max-height: initial !important;
  }

  .chat-title {
    padding: 20px 20px 15px 10px !important;
    text-align: left;
  }

  .circle {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
  }

  .menu .button {
    border-top-right-radius: 0;
  }
}
@media only screen and (min-device-width: 667px) {
  div.half {
    margin: auto;
    width: 80px;
    height: 40px;
    background-color: #fff;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom: 0;
    box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
    -webkit-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
    -moz-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
  }
  #Map
  {
    height: 600px;
    width: 640px;
    border-radius: 20px 20px 20px 0;
  }
}